div {
  padding: 10px;
}

p {
  margin: 2.5px;
}

input,
select {
  display: block;
  margin: 10px 0;
}

button {
}

#startBtn button {
  background: lightskyblue;
  height: 40px;
  width: 60px;
}

.sequencer {
  display: flex;
  align-items: space-around;
  /* border: 1px solid blue; */
}

.trackLabels {
  /* height: 200px; */
}

#sequencerLanes {
  box-sizing: border-box;
  align-self: flex-start;
  margin: 0;
  padding: 0;
}
